<template>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th># Reviews</th>
      </tr>
    </thead>
    <tbody>
      <!-- make each item in the table that is displayed clickable -->
      <!-- when you click it it will link to the path named product detail -->
      <!-- the path was named in the router configuration file (index.js) -->
      <!-- we need to pass the path the id of the product clicked  -->
      <tr v-for="product in $store.state.products" v-bind:key="product.id">
        <td>{{ product.id }}</td>
        <td>  <!-- have the link to the 'product-detail' path -->
              <!-- router link specifies  PATH THE ROUTER SHOULD GO TO -->
              <!-- LIKE A <A HREF="URL"  -->
              <!-- <v-bind:to="" connect a router path to an element -->
              <!-- name: is the 'name of the router path we want to connect' -->
              <!-- the params: values to add to the path -->
              <!-- define a link to the product-detail path -->
              <!-- add a parameter called id to the path -->
              <!-- using the id of the current product -->   
        <router-link
          v-bind:to="{ name: 'product-detail', params: {id: product.id}}"
        >
        {{ product.name }}
        </router-link>>

        </td>
        <td>{{ product.reviews.length }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "products-list"
};
</script>

<style style="scoped">
th,
td {
  text-align: left;
}
td {
  padding-right: 10px;
  vertical-align: top;
}
tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}
</style>
