/* Styles for the overall page */
html { /* specify styling rules for everything in the html tag */
    height: 100%;  /* we want the html document to fill the full space of what it's in */
    font-size: 16px; /* we want the font size on the page set to default 16 px */
                    /* setting sizes by %, em, or px */


}

* {    /* specify styling rules for EVERYTHING in the document (a document is a file containing html)   */
    box-sizing: border-box; /* INCLUDE THE MARGINS, AND BOARDER IN THE BOX SIZE                         */
                           /* easier placement of the elements - more tomorrow                         */
}

body {  /* specify styling rules for everything in the body tag  */
    font-family: 'Raleway', sans-serif;  /* use Raleway font or if not available any sans-serif font */
        /* make the background go from gray to lightgray from top to bottom */
    background-image: linear-gradient(to bottom, gray, lightgray);
    background-repeat: no-repeat; /* do not repeat the background stretch it to fill the page*/
    background-attachment: fixed; /*  do not scroll the background it should always fill the screen */  
}

header > h1,  /* style the h1 child tag (>) of the header tag - you can style multiple things at once                                  */
header > p { /* and (,) the p child of the header tag ( go to the header and it's child p tag) */
display: inline-block; /* place the items next to each other                                    */ 
height: 20px;   /* limit the height of the element to 20 px*/
padding-right: 20px; /* pad each element to the right 20 px*/
vertical-align: middle; /*align elements to the middle of it's box */
color: white; /*  make the content white            */
border-right: 1px solid white;  /* put a boarder white line on the right side of each element */

}

header > h1 { /* style the h1 child tag (>) of the header tag */
text-transform: uppercase; /* convert the text to upper case and change the font size*/
font-size: 1.1rem; /* rem = font size so 1.1rem is slightly larger than the font size*/
}

div.trello-list { /* style all div elements with a class="trello-list" (. indicates a class selector)*/
    display: inline-block;          /* place the elements next to each other  */
    width: 300px;                   /* make the cloumns a fixed size*/
    background: #ddd;           /* example of hexadecimal (#ddd) value */ 
    border-radius: 2px 2px;         /*make corners slightly rounded */
    vertical-align: top;
}

div.trello-list h2 { /* style all h2 elements in div elements with a class="trello-list (. indicates a class selector)"*/
    margin: 8px; /* move it over from edge */
    font-size: 1rem; /* keep the font size consistent with the document */
    font-weight: bold; /* make the font bold */
}

div.trello-list ol {
    margin: 0px;
    padding: 0px;
}

div.trello-list li {
    list-style: none;
    background-color: rgb(255, 255, 255);
    font-size: .9rem;
    border-radius: 1px;
    margin-bottom: 10px;
    padding: 8px;    
}


    

