<template>
  <div id="app" class="main">
    <h1>{{ product.name }}</h1>
    <p class="description">{{ product.description }}</p>
    <div class="actions">
      <router-link v-bind:to="{ name: 'products' }">Back to Products</router-link>&nbsp;|
      <router-link v-bind:to="{ name: 'add-review', params: { id: product.id } }">Add Review</router-link>
    </div>
    <div class="well-display">
      <average-summary />
      <star-summary rating="1" />
      <star-summary rating="2" />
      <star-summary rating="3" />
      <star-summary rating="4" />
      <star-summary rating="5" />
    </div>
    <review-list />
  </div>
</template>

<script>
import AverageSummary from "@/components/AverageSummary";
import StarSummary from "@/components/StarSummary";
import ReviewList from "@/components/ReviewList.vue";

export default {
  name: "product-detail",
  components: {
    AverageSummary,
    StarSummary,
    ReviewList
  },
  // Since this router view componet gets the id of the product selected by the user
  // it should set the activeProduct property in the data store 
  // The setting of the active product  has to be done before the component page is displayed
  //
  computed: {
    product() {
      return this.$store.state.products.find(
        p => p.id == this.$store.state.activeProduct
      );
    }
  },


 // The Vue lifecycle hook called "created" allows us to do some processing
 //       Vue createds the HTML for the page
 // We will use the d=created hook to set active Product in the data store
  created() { // use the created Vue life cycle hook
 
  
  // this.$route - this page's path ($route) tells Vue Router you want to access the path
  // params.id - the value in the path's parameter called id (id is named in the router configuration file)
    const activeProductID = this.$route.params.id;  // get the id from the URL path
    
    // store the id in activeProdust in the Vuex data store
    this.$store.commit("SET_ACTIVE_PRODUCT", activeProductID); 
  
  }  // End of created() hook
};  // end of export
</script>