<!-- router view - which is Vue component so it has the same sections as a Vue component -->

<template>
  <div class="products"> <!-- A Vue template has exactly one div  --> 
    <h1>Products</h1>   <!-- page heading  -->
    <products-list />   <!-- use the component ProductList.vue -->
  </div>
</template>

<script>
// the @ sign replaces the relative address ../ we were using before in earlier code
import ProductsList from "@/components/ProductsList";  // access the ProductsList.vue from the components folder

export default {    
  components: {     // list of the Vue components used in this file
    ProductsList    // name of the .vue file of the component
  }
};
</script>

<style scoped>

</style>